html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  color: #244751;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  padding: 0em 2em;
  z-index: 1;
}

.container {
  background: #fff;
  height: 100%;
  margin: 0px auto;
  padding-top: 125px;
  top: 140px;
  width: 450px;
}