#nav-bar {
  .logo {
    float: left;
    height: 80px;
    width: 80px;
  }

  .header {
    float: left;
    font-size: xx-large;
    line-height: 2.5;
    margin-left: 10px;
  }

  div {
    float: right;
    padding: 8px 10px 0px 0px;
  }

  #compose {
    background: #e1fdfe;
    border: 1px solid #000;
    border-radius: 5px;
    color: #00a087;
    cursor: pointer;
    font-size: larger;
    padding: 20px 10px;
  }

  #compose:hover {
    background: #fcfdfd;
    color: #000;
    cursor: pointer;
  }
}