#nav-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 0em 2em;
    height: 80px;
    background-color: #00a087;
    color: #e8fdff;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  margin-left: 10px;
  font-size: xx-large;
  line-height: 2.5;
}