#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  padding: 0em 2em;
  z-index: 1;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  font-size: xx-large;
  line-height: 2.5;
  margin-left: 10px;
}

#nav-bar div {
  float: right;
  padding: 8px 10px 0px 0px;
}

#compose {
  padding: 20px;
  border-radius: 5px;
  background: #E1FDFE;
  color: teal;
  font-size: larger;
  cursor: pointer;
  border: 1px solid #000;
}

#compose:hover {
  background: #FCFDFD;
  color: #000;
  cursor: pointer;
}
