.new-tweet {
  background: #eee;
  border: 1px solid #bbb;
  border-radius: 5px;
  margin: 1em 2em 2em 2em;
  width: -webkit-fill-available;
}

.new-tweet form {
  padding: 0px 10px 10px 10px;
}

.new-tweet h2 {
  border-bottom: 1px solid;
  margin: 10px 10px 15px 10px;
}

.new-tweet span {
  float: right;
  font-size: 90%;
  margin: 5px 10px 0px 0px;
}

.new-tweet textarea {
  height: 70px;
  margin-bottom: 5px;
  display: block;
  padding: 5px 0px 0px 5px;
  resize: vertical;
  width: 100%;
}

.limit-reached {
  color: red;
}

#created-tweet {
  background: #fff;
  margin: 1em 2em 2em 2em;
 }

#created-tweet article {
  padding-bottom: 5px;
  border: 1px solid #bbb;
  border-radius: 5px;
  margin-bottom: 20px;
}

.clearfix {
  overflow: auto;
}

#created-tweet header {
  display: flex;
  background-color: #eee;
  opacity: .65;
  padding: 5px 0px 0px 5px;
  width: 100%;
  height: 65px;
}

#created-tweet .tweet-image {
  margin-right: 10px;
}

#created-tweet .tweet-name {
  font-size: larger;
  padding-top: 5px;
  width: 250px;
}

#created-tweet .tweet-id {
  padding: 5px 0px 0px 20px;
}

#created-tweet .written-tweet {
  padding: 30px 0px 20px 20px;
}

#created-tweet footer {
  border-top: 1px solid lightgray;
  font-size: smaller;
  width: 100%;
  padding: 10px 10px 0px 10px;
}

#created-tweet .time {
  float: left;
}

#created-tweet .icons {
  float: right;
  opacity: 0;
}

#created-tweet i {
  padding: 3px;
}

#created-tweet img {
  height: 3em;
  width: 3em;
  border-radius: 8px;
}

#created-tweet header:hover, #created-tweet header.hovered {
  opacity: 1;
}

#created-tweet .icons:hover, #created-tweet .icons.hovered{
  opacity: 1;
}*/