.new-tweet {
  background: #eee;
  border: 1px solid #bbb;
  border-radius: 5px;
  margin: 1em 2em 2em 2em;
  width: -webkit-fill-available;
}

.new-tweet form {
  padding: 0px 10px 10px 10px;
}

.new-tweet h2 {
  border-bottom: 1px solid;
  margin: 10px 10px 15px 10px;
}

.new-tweet span {
  float: right;
  font-size: 90%;
  margin: 5px 10px 0px 0px;
}

.new-tweet textarea {
  height: 70px;
  margin-bottom: 5px;
  display: block;
  padding: 5px 0px 0px 5px;
  resize: vertical;
  width: 100%;
}

.limit-reached {
  color: red;
}